body {
	font-size: 180%;
}

.servererror img {
	width: 100%;
}

.error, .servererror {
	border: 2px outset;
	margin: 2px;
	background-color: #CCC;
	overflow: hidden;
}

.error {
	background-color: #FCC;
}

.content div {
	border-left: 8px outset blue;
	padding-left: 8px;
}

.footer {
	color: blue;
	background-color: white;
}
